<launch>

    <arg name="project" default="lio_sam"/>
    
    <!-- Parameters -->
    <arg name="saveOdometryDirectory" default=""/>
    <arg name="dataset" default=""/>
    <arg name="robot" default=""/>

    <rosparam file="$(find lio_sam)/config/$(arg dataset)/$(arg robot)/params.yaml" command="load" />
    <param name="lio_sam/saveOdometryDirectory" value="$(arg saveOdometryDirectory)" />

    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Navsat -->
    <include file="$(find lio_sam)/launch/include/module_navsat.launch" />

    <!--- Run Rviz-->
    <include file="$(find lio_sam)/launch/include/module_rviz.launch" />

</launch>
